mixin make_post(item, is_detail)
    div.post-container
        p.post-title
            if is_detail
                a= item.title
            else
                a(href= url_for(item.path))= item.title
        p.post-meta
            span.date.meta-item!=__("posted_at")+"&nbsp;" + date(item.date, 'YYYY-MM-DD')
            if theme.duoshuo || theme.disqus
                span.meta-item
                    i.fa.fa-comment-o
                    span &nbsp;
                    a(href= url_for(item.path + "#comments"))= __('Comments')
            if theme.showCategories
                if item.categories
                    if item.categories.length > 0
                        span.meta-item
                            i.fa.fa-folder
                            span &nbsp;
                            - item.categories.sort('posts').each(function(item) {
                            a.a-tag(href=config.root + item.path, title= item.name)= item.name
                            span &nbsp;
                            - });
            if theme.showTags
                if item.tags
                    if item.tags.length > 0
                        span.meta-item
                            i.fa.fa-tag
                            span &nbsp;
                            - item.tags.sort('posts').each(function(item) {
                            a.a-tag(href=config.root + item.path, title= item.name)= item.name
                            span &nbsp;
                            - });
        if is_detail
            p.post-abstract!= item.content
        else
            p.post-abstract!= truncate(strip_html(item.content.replace(/<pre(?: |>)[^]*?<\/pre>/gm, ' ')), {length: 160})

mixin make_page_links()
    if site.pages
        - site.pages.each(function (page) {
            li
                    if is_current(page.path)
                        a.current(href=config.root+page.path)= page.title
                    else
                        a(href=config.root+page.path)= page.title
        - });


mixin make_pager()
    - var prev = page.prev_link
    - var next = page.next_link
    .pagination.no-margin-bottom
        p.clearfix
            if theme.showPageCount
                p
                    != ' ' + __('PageNumber', page.current) + ' / ' + __('PageCount', page.total) + ' '
                    | &nbsp;
            p
                if page.prev
                span.pre.pagbuttons
                    i.fa.fa-angle-double-left
                    | &nbsp;
                    a(role="navigation",href=url_for(prev),aria-label= __('prev'))= __('prev')

                if page.next
                span &nbsp;
                span.next.pagbuttons
                    a(role="navigation",href=url_for(next),aria-label=__('next'))= __('next')
                    | &nbsp;
                    i.fa.fa-angle-double-right

mixin postList()
    - var year = 0;
    - var change = false;
    - var firstYear = true;
    - var fixupRequired = page.posts.length > 0;
    - page.posts.each(function (item) {
    - var itemYear = date(item.date, 'YYYY') - 0;
    - change = year !== itemYear;
    - year = change ? itemYear : year;
    if change
        if firstYear
            | <li class="listing-title">
            h4.ar-year!= year
            | <ul class="listing">
            - firstYear = false;
        else
            | </ul></li><li class="listing-title">
            h4.ar-year!= year
            | <ul class="listing">

    | <li class="listing-item">
    .listing-post
        p.post-title
            a(href= url_for(item.path), title= item.title)= item.title
        div.post-time
            span.ar-date= date(item.date, 'MM-DD')
    | </li>
    - })
    if fixupRequired
        | </ul></li>

mixin tagList()
    ul.listing
        - site.tags.each(function (item) {    
        | <li class="listing-item">
        .listing-post
            p.post-title
                a(href= url_for(item.path), title= item.name)= item.name
            span.date.meta-item
                != __('TagCount', item.posts.length)
        | </li>
        - })

mixin categoryList()
    ul.listing
        - site.categories.each(function (item) {    
        | <li class="listing-item">
        .listing-post
            p.post-title
                a(href= url_for(item.path), title= item.name)= item.name
            span.date.meta-item
                != __('CategoriesCount', item.posts.length)
        | </li>
        - })
